name: Go Test & Coverage

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: write

jobs:
  test-and-coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.4'

      - name: Set up .NET (for ReportGenerator)
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Install tools
        run: |
          go install github.com/boumenot/gocover-cobertura@latest
          dotnet tool install --global dotnet-reportgenerator-globaltool

      - name: Install dependencies
        run: go mod tidy

      # ✅ AUTO TEST SEMUA MODUL
      - name: Run tests & generate coverage
        run: |
          mkdir -p coverage

          PKGS=$(go list ./modules/... | tr '\n' ',')

          go test ./modules/... \
            -covermode=count \
            -coverpkg="$PKGS" \
            -coverprofile=coverage/coverage_all.out

      - name: Convert Go coverage → Cobertura XML
        run: |
          gocover-cobertura < coverage/coverage_all.out > coverage/coverage.xml

      - name: Generate HTML report (ReportGenerator)
        run: |
          reportgenerator \
            -reports:coverage/coverage.xml \
            -targetdir:CoverageReport \
            -reporttypes:HtmlSummary

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: CoverageReport

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./CoverageReport
          publish_branch: gh-pages
