name: Go Test & Coverage

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: write

jobs:
  test-and-coverage:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout kode
      - name: Checkout code
        uses: actions/checkout@v3

      # 2️⃣ Setup Go
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.4'

      - name: Set up .NET (for ReportGenerator)
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.0'

      - name: Install tools
        run: |
          go install github.com/boumenot/gocover-cobertura@latest
          dotnet tool install --global dotnet-reportgenerator-globaltool

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: go mod tidy

      # 4️⃣ Run tests & generate coverage
      - name: Run tests and generate coverage
        run: |
          mkdir -p coverage

          # Loop semua modul
          for module in $(find ./modules -type d \( -name "domaintest" -o -name "applicationtest" \)); do
              modulename=$(basename $(dirname "$module"))_$(basename "$module")
              echo "Running tests for $module ..."

              # Tentukan folder untuk coverage
              if [[ "$module" == *applicationtest ]]; then
                  # coverage untuk folder application
                  coverpkg=$(dirname "$module")/application
              else
                  # coverage untuk folder domain
                  coverpkg=$(dirname "$module")/domain
              fi

              go test -v -coverpkg=$coverpkg \
                -coverprofile=coverage/${modulename}.out $module || exit 1
          done

      # 5️⃣ Merge coverage files
      - name: Run tests & generate coverage
        run: |
          mkdir -p coverage

          for module in $(find ./modules -type d \( -name "domaintest" -o -name "applicationtest" \)); do
            modulename=$(basename $(dirname "$module"))_$(basename "$module")

            if [[ "$module" == *applicationtest ]]; then
              coverpkg=$(dirname "$module")/application
            else
              coverpkg=$(dirname "$module")/domain
            fi

            go test -covermode=count \
              -coverpkg=$coverpkg \
              -coverprofile=coverage/${modulename}.out \
              $module || exit 1
          done

      - name: Merge coverage files
        run: |
          echo "mode: count" > coverage/coverage_all.out
          tail -q -n +2 coverage/*.out >> coverage/coverage_all.out

      - name: Convert Go coverage → Cobertura XML
        run: |
          gocover-cobertura < coverage/coverage_all.out > coverage/coverage.xml

      - name: Generate HTML report (ReportGenerator)
        run: |
          reportgenerator \
            -reports:coverage/coverage.xml \
            -targetdir:CoverageReport \
            -reporttypes:HtmlSummary

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: CoverageReport

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./CoverageReport
          publish_branch: gh-pages
